# Lista

In [9]:
lista = [2,5,7]
lista[1]

5

# Introdução a tupla

In [10]:
tupla = (6,8,9)
tupla[1]

8

## Diferenças

In [11]:
lista.append(7)
print(lista)

[2, 5, 7, 7]

In [23]:
tupla = (1,5,8)
tupla = tupla + 1
print(tupla)

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
dicionario = {
    "curso":"desenvolvimento de sistemas",
    "ano":"2024",
    "modulo": "Tecnico",
    "Professor":"Gustavo"
    }

In [18]:
print(dicionario["curso"])
print(dicionario["ano"])
print(dicionario["modulo"])
print(dicionario["Professor"])

desenvolvimento de sistemas
2024
Tecnico
Gustavo

In [21]:
dicionario["nota"] = 9.5
print(dicionario["nota"])

9.5

In [20]:
for x in dicionario.keys():
    print(x)

curso
ano
modulo
Professor

## Exercicio

### Parte 1

In [24]:
matriculas = {
    "codigo":"1512",
    "data":"10/8",
    "curso":"DS"
}
aluno = {
    "registro":"41231",
    "nome":"Hector"
}

diciplina = {
  "registro":"3234",
  "nome":"Hector",
  "professor":"Gustavo"
}

escola = ("Matricula: ",matriculas,"Aluno: ",aluno,"Disciplina: ",diciplina)
for z in escola:
  print(z)

Matricula:
{'codigo': '1512', 'data': '10/8', 'curso': 'DS'}
Aluno:
{'registro': '41231', 'nome': 'Hector'}
Disciplina:
{'registro': '3234', 'nome': 'Hector', 'professor': 'Gustavo'}

### Parte 2

In [25]:
Vendedor = {
    "registro":"4231",
    "nome":"João",
    "curso":"Vendas"
}

Produto = {
    "id":"42332",
    "nome":"Caderno",
    "fabricante":"Foroni"   
}

Venda = {
    "reg_venda":"12314",
    "id_produto":"224",
    "valor":"10,99"
}

casas_baiano = ("Vendedor: ",Vendedor,"Produto: ",Produto,"Venda: ",Venda)
for y in casas_baiano:
    print(y)

Vendedor:
{'registro': '4231', 'nome': 'João', 'curso': 'Vendas'}
Produto:
{'id': '42332', 'nome': 'Caderno', 'fabricante': 'Foroni'}
Venda:
{'reg_venda': '12314', 'id_produto': '224', 'valor': '10,99'}