# Aula 05 -  introdução ao List Comprehension e Format

> uma forma mais simples de realizar conversões de valorn entre duas ou mais listas. Atualmente é uma das formas mais rapida de aplicar conversões, substitundo as declarações mais extensas do que o metodo convencional, lambda e map.

## Exemplo 1

In [ ]:

celsius = [10,20,30,40,50]
fh = [round(x*1.8+32,2) for x in celsius]
print(fh)

## Exemplo 2 - conversão de kmh para mp

In [ ]:
kmh = [100, 60, 80, 30]
mph = [round(x/1.61) for x in kmh]
print(mph)

In [ ]:
print("{:<6}{:<6}".format("kmh","mph"))
print("=========")
x = 0
while(x<len(kmh)):
    print ("{:<6}{:<6}". format(kmh[x],mph[x]))
    x += 1

# Celsius para fahrenhaint

In [ ]:
print("{:<10}{:<6}".format("celsius","fh"))
print("===============")
x = 0
while(x<len(celsius)):
    print ("{:<10}{:<6}". format(celsius[x],fh[x]))
    x += 1

### Exercicio 1

> Crie uma lista com valores em metros. crie uma tabela de conversão para polegadas, pés, jardas e mílhas maritimas. listando o numero da linha e o cabeçalho da tabela

In [57]:
metros = [10,5,20,25,40,45,100,72,32,80]
polegadas = [round(x*39.37,2) for x in metros]
pés = [round(x*3.28,2) for x in metros]
jardas = [round(x*1.09,2) for x in metros]
milhas_maritimas = [round(x/1852,5) for x in metros]

print("{:<10}{:<10}{:<10}{:<10}{:<18}".format("metros","polegadas","pés","jardas","milhas_maritimas"))
print("========================================================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<18}". format(metros[x],polegadas[x],pés[x],jardas[x],milhas_maritimas[x]))
    x += 1

metros    polegadas pés       jardas    milhas_maritimas
========================================================
10        393.7     32.8      10.9      0.0054
5         196.85    16.4      5.45      0.0027
20        787.4     65.6      21.8      0.0108
25        984.25    82.0      27.25     0.0135
40        1574.8    131.2     43.6      0.0216
45        1771.65   147.6     49.05     0.0243
100       3937.0    328.0     109.0     0.054
72        2834.64   236.16    78.48     0.03888
32        1259.84   104.96    34.88     0.01728
80        3149.6    262.4     87.2      0.0432

### Exercicio 2

> crie um programa com 10 valores em kelvin

In [63]:
kelvin = [10,20,30,35,20,50,94,27,40,16]
celsius = [round(x-273.15,2) for x in kelvin]
fahrenheit = [round(x*1.8-459.67,2) for x in kelvin]
x = 0
print("{:<10}{:<10}{:<10}".format("kelvin","celsius","fahrenheit"))
while(x<len(kelvin)):
    print("{:<10}{:<10}{:<10}".format(kelvin[x],celsius[x],fahrenheit[x]))
    x += 1

kelvin    celsius   fahrenheit
10        -263.15   -441.67
20        -253.15   -423.67
30        -243.15   -405.67
35        -238.15   -396.67
20        -253.15   -423.67
50        -223.15   -369.67
94        -179.15   -290.47
27        -246.15   -411.07
40        -233.15   -387.67
16        -257.15   -430.87

### Exercicio 3

In [64]:
terra = [10,20,35,50,55,83,73,65,29,70]
massa = [round(x/9.8) for x in terra]
júpiter = [round(x*24.79) for x in massa]
sataurno = [round(x*10.44) for x in massa]
mercurio = [round(x*3.7) for x in massa]
lua = [round(x*1.63) for x in massa]
x = 0
print("{:<10}{:<10}{:<10}{:<10}{:<10}{:<10}".format("N°","terra","jupyter","saturno","mercurio","lua"))
while(x<len(terra)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}{:<10}".format(x,terra[x],jupyter[x],staurno[x],mercurio[x],lua[x]))
    x += 1

N°        terra     jupyter   saturno   mercurio  lua
0         10        26        12        4         2
1         20        53        23        7         3
2         35        92        40        13        6
3         50        132       57        18        8
4         55        145       63        20        9
5         83        219       95        31        14
6         73        193       84        27        12
7         65        172       75        24        11
8         29        77        33        11        5
9         70        185       80        26        12